<div *ngIf="creerCollegue;then ajouterCollegueApp else afficherCollegueApp "></div>
<ng-template #ajouterCollegueApp>
    <app-creer-collegue></app-creer-collegue>
</ng-template>
<ng-template #afficherCollegueApp>
    <app-collegue></app-collegue>
</ng-template>

<div *ngIf="collIdent && creerCollegue && collIdent.roles.includes('ROLE_ADMIN')"><button type="button" (click)="afficherCollegue()" class="btn btn-dark">Afficher collègue</button></div>
<ng-container *ngIf="collIdent && !creerCollegue && collIdent.roles.includes('ROLE_ADMIN')">
    <button type="button" (click)="afficherAjoutCollegue()" class="btn btn-dark">Créer un nouveau collègue</button></ng-container>


