<div class="row m-2">
    <div class="col-sm-12 col-xl-12">
        <form class="form-inline">
            <label class="col-sm-3 col-form-label col-form-label" for="findByName">Recherche par nom :</label>
            <input type="text" class="col-sm-5 form-control mb-2 mr-sm-2" (keydown.enter)="rechercher(saisie.value); $event.preventDefault()" id="findByName" #saisie placeholder="Thomas">
            <button type="button" class="col-sm-3 btn btn-primary mb-2" (click)="rechercher(saisie.value)">Rechercher</button>
        </form>
    </div>
</div>
<div class="row m-2">
    <div class="col-sm-12 col-xl-12">
        <div class="list-group">
            <div *ngIf="tabMatricule != null">
                    <a *ngFor="let matricule of tabMatricule" href="#" class="list-group-item list-group-item-action" (click)="selectionerMatricule(matricule)">{{matricule}}</a>
            </div>
        </div>
        <div *ngIf="errorRecherche">
            <div class="alert alert-primary" role="alert">
                Collegue introuvable
            </div>
        </div>
        <div *ngIf="errorServer">
            <div class="alert alert-danger" role="alert">
               Connection impossible
            </div>
        </div>
        <div *ngIf="errorMatricule">
            <div class="alert alert-warning" role="alert">
                {{errorMatriculeMsg}}
            </div>
        </div>
    </div>
</div>
