<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="assets/img/icon_32.png" width="30" height="30" alt="logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" routerLink="/accueil">Accueil </a>
            <a class="nav-item nav-link" routerLink="/gallerie">Gallerie</a>
            <a class="nav-item nav-link" routerLink="/apropos">A propos</a>
        </div>
    </div>
</nav>
